<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/assets/circle-cropped.png"/>
      <p class="lead">Welcome to my online portfolio! Check out my links below.</p>
    </div>

    <nav class="sidebar-nav">

      <div>
        <a href="#Work-Experience">Work Experience</a><br>
        <a href="#Personal-Projects">Personal Projects</a>
      </div>

      {% comment %}
        The following are the icons with links to social media
      {% endcomment %}
      <div class="icons">
        <a href="https://github.com/matiaslh" target="_blank">
          <span class="iconify" data-icon="ant-design:github-filled" data-inline="false"></span>
        </a>
        <a href="https://www.linkedin.com/in/matiaslh" target="_blank">
          <span class="iconify" data-icon="ant-design:linkedin-filled" data-inline="false"></span>
        </a>
        <a href="mailto:matiaslh@gmail.com" target="_blank">
          <span class="iconify" data-icon="carbon:email" data-inline="false"></span>
        </a>
      </div>


      
    </nav>

  </div>
</div>
